<div id="welcomeDashModal" class="welcomeModal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<center>
	<div class="modal-header">
	  <h3 style = "font-size: 2em;" id="modal-title">Welcome to your Dash!</h3>
	</div>

  	<div class="modal-body">
  		<p>Your dashboard will help you understand your salah patterns. This way you can know where and how you can improve your overall average.</p>
  		<br/>
  		<p class="unique_msg_welcome">Your unique dashboard url is:</p>
  		<p class="unique_url_welcome">Katibean.com/<%= @url %></p>
  		<br/>
  		<p>Remember to share your url only with those people you want to share your Salah performance</p>
  		<div class="next_step view_dash_welcome" onclick="javascript:introJs().start();">View Dash</div>
	</div>
	<div class="modal-footer">
	 &nbsp;
	</div>
</center>
</div>
