<%= render "katibeen/dash_banner" %>

<center>
	<div class="temp_wrapper">
		<div class="temp_mock">
		</div>
		<div class = "tempText">
			<h3 style = "display: inline;"> Your dash will be available in: </h3>
			<h3 class = "daysLeft" >0<%= @days_left %></h3>
			<h3 style = "font-size: 2em; display: inline;"> Day<%= "s" if  @days_left > 1 %></h3>
		</div>
	</div>
</center>
<br>
<br>
<br>
<br>
