<!DOCTYPE html>
<html>

<div style = "background-color: #F15737;
width: 100%; height: 100px; padding: 10px;" id="mainBanner">
	<table style = "height: 100%; width: 100%; margin: 0; padding: 0; border: 0;" id="mainBanner_table">
		<tbody><tr>
			<td><p style="
    font-size: 5em; color: #FFF; font-weight: bold;
    text-align: center;
    font-family: 'Open Sans', sans-serif; padding: 0; margin: 0;
padding-top: 10px;"> Katibean </p>

				<p style="color:#fff;font-style:italic; text-align: center; padding: 0; margin: 0; font-size: 1.3em; font-weight: 100;"> Your key to paradise </p>
			</td>
		</tr>
	</tbody></table>
</div>

	<p style = "color: #F15737; text-align: center; font-size: 1.5em;">We're back!</p>

	<p style = "color: #333; font-size: 1.3em;" >Assalaamu Alaikum,<br><br>
If were following us on our Facebook page, you know we have been hard at work for the past few days. The entire team has been working diligently to get Katibean back up and running.
<br>
We made some changes and improved our machines to give everyone a better experience.
<br><br>
We are also excited to share the new Dashboard with our users. We were able to remove the wait period and everyone can start using and viewing their Katibean profiles as of now!
<br><br>
To resume your account, be sure to follow the link below and complete the entire “Welcome” process, even if you had done it once before. We are certain you will enjoy Katibean and your new Dashboard.</p>


	<p style = "color: #009FE6; text-decoration: none; text-align: center; font-size: 1.5em;" > <a style = " color: #009FE6; text-decoration: none; text-align: center; " href = <%= welcome_url()%>/<%=@puser.url %>  > Click Here to Resume Your Profile  <p> </a>
		<br>
		<p style = " margin: 5px 10%; color: #333; text-align: center; font-size: 1em;" >
		Katibean is a free initiative by a team of students. If you do come across any problems feel free to message us on Facebook or email us at info@katibean.com and we will get it sorted out for you as soon as we can.
	</p>

</html>