<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  
    <Worksheet ss:Name='Main'>
      <Table>

        <Row>
          <Cell><Data ss:Type="String">Date</Data></Cell>
        </Row>

        <% @dateList.each do |date| %>

          <Row>
            <Cell><Data ss:Type="String"><%= date.strftime("%D")  %></Data></Cell>
          
          <% @users.each do |user| %> 
            <Cell><Data ss:Type="String"><%= user.url  %></Data></Cell>
            <% @prayers = user.get_prayers %>

              <% @prayers.each do |prayer| %>

              <% if (prayer.created_at - date).abs < 1 %> 

                  <% if prayer.fajr == 2 %>
                    <Cell><Data ss:Type="String">Y</Data></Cell>
                  <% else %>
                    <Cell><Data ss:Type="String">N</Data></Cell>
                  <% end %>
                  <% if prayer.zuhr == 2  %>
                    <Cell><Data ss:Type="String">Y</Data></Cell>
                  <% else %>
                    <Cell><Data ss:Type="String">N</Data></Cell>
                  <% end %>
                  <% if prayer.asr == 2 %>
                    <Cell><Data ss:Type="String">Y</Data></Cell>
                  <% else %>
                    <Cell><Data ss:Type="String">N</Data></Cell>
                  <% end %>
                  <% if prayer.maghrib == 2 %>
                    <Cell><Data ss:Type="String">Y</Data></Cell>
                  <% else %>
                    <Cell><Data ss:Type="String">N</Data></Cell>
                  <% end %>
                  <% if prayer.isha == 2 %>
                    <Cell><Data ss:Type="String">Y</Data></Cell>
                  <% else %>
                    <Cell><Data ss:Type="String">N</Data></Cell>
                  <% end %>
                
              <% end %>
            <% end %>
          <% end %>
          </Row>
        <% end %>
      </Table>
  </Worksheet>

</Workbook>