<table> 
    <tr>
          <td>User url</td>

            <% @dateList.each do |date| %>
          
              <td><%= date.strftime("%D") %></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>

            <% end %>
    </tr>

        <tr>

          <td>-</td>

          <% @dateList.each do |date| %>
 
            <td>Fajr</td>
            <td>Zuhr</td>
            <td>Asr</td>
            <td>Maghrib</td>
            <td>Isha</td>
          
          <% end %>
          
        </tr>

        <% @users.each do |user| %> 
          <tr>

            <td><%= user.url  %></td>

            <% @dateList.each do |date| %>

            <% @prayer_found = false %>

              <% @prayers = user.get_prayers %>

              <% @prayers.each do |prayer| %>

                <% if (prayer.created_at - date).abs < 1 %> 

                    <% if prayer.fajr == 2 %>
                      <td>Y</td>
                    <% else %>
                      <td>N</td>
                    <% end %>
                    <% if prayer.zuhr == 2  %>
                      <td>Y</td>
                    <% else %>
                      <td>N</td>
                    <% end %>
                    <% if prayer.asr == 2 %>
                      <td>Y</td>
                    <% else %>
                      <td>N</td>
                    <% end %>
                    <% if prayer.maghrib == 2 %>
                      <td>Y</td>
                    <% else %>
                      <td>N</td>
                    <% end %>
                    <% if prayer.isha == 2 %>
                      <td>Y</td>
                    <% else %>
                      <td>N</td>
                    <% end %>

                    <% @prayer_found = true %>

                <% else %>
                  
                <% end %>

            <% end %>

                <% if !@prayer_found %>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>

                <% end %>

            <% @prayer_found = false %>

          <% end %>

          </tr>
        <% end %>
</table>