<%= form_for @premium do |f| %>

  <% if @premium.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @premium.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <input id="premium_email" name="premium[email]" type="text" placeholder="Email" >
    <br>
    <input id="premium_password" name="premium[password]" type="password" placeholder = 'Password'>
    <br>
    <input id="premium_password" name="premium[password]" type="password" placeholder = 'Password Confirmation'>
    <br>
    <input name="commit" type="submit" value="Create Account">

</form>

<% end %>