<tr>
<td>
    <%= image_tag "pic_FarhanMunshi.png" %>
    <br/>
    <div class="titles">The Prodigy</div>
</td>
<td>
    <div class="about_name">Farhan Munshi</div>
    <div class="about_socials">
        <img src="../../assets/images/icon_aboutme_hover.png">
        <%= link_to (image_tag "icon_aboutme.png"), "http://farham.herokuapp.com" %>
        <%= link_to (image_tag "icon_linkedin.png"), "http://ca.linkedin.com/pub/farhan-munshi/5b/911/89a/" %>
    </div>
    <div class="about_text">
        Im a student at the University of Waterloo, doing Systems Design.<br/>
        I've got a passion for learning and making things.<br/>
        My primary interests lie in web based and mobile development.<br/>
        I also love working out, playing squash and Nutella.
    </div>
</td>
</tr>