
<tr>
<td>
    <%= image_tag "pic_FarhanMunshi.png" %>
    <br/>
    <div class="titles">The Prodigy</div>
</td>
<td>
    <div class="about_name">Farhan Munshi</div>
    <div class="about_socials">
        <a href="http://farham.herokuapp.com" class="about_me_link"></a>
        <a  href="http://ca.linkedin.com/pub/farhan-munshi/5b/911/89a/"  class="linkedIn_link"></a>
    </div>
    <div class="about_text">
        Im a student at the University of Waterloo, doing Systems Design.<br/>
        I've got a passion for learning and making things.<br/>
        My primary interests lie in web based and mobile development.<br/>
        I also love working out, playing squash and Nutella.
    </div>
</td>
</tr>