<tr>
<td>
<%= image_tag "pic_HuzaifaSial.png" %>
<br/>
<div class="titles">The Visionary</div>
</td>
<td>
<div class="about_name">Huzaifa Sial</div>
<div class="about_socials">
	<a href="" class="about_me_link"></a>
    <a  href=""  class="linkedIn_link"></a>
</div>
<div class="about_text">
23-year-old BBA graduate, and although I love it, I can never spell entreprenuership correctly! Creating something new and coming-up with original solutions are a sure high for me. I love the world I live-in and instead of making a dent in it, I'd be more than happy, if throughout my life, I am able to take one out.
</div>
</td>
</tr>