<tr>
    <td>
        <%= image_tag "pic_ShafkatulHaque.png" %>
        <br/>
        <div class="titles">The Pioneer</div>
    </td>
    <td>
        <div class="about_name">Shafkat ul Haque</div>
        <div class="about_socials">
            <!--
            <a href="http://shaque.me"><img id="shafkat_aboutme" src="./images/icon_aboutme.png" onmouseover="hover( 'shafkat_aboutme','./images/icon_aboutme_hover.png' )" onmouseout="hover( 'shafkat_aboutme','./images/icon_aboutme.png' )" ontouchend="hover( 'shafkat_aboutme','./images/icon_aboutme.png' )"/></a>
            <a href="http://ca.linkedin.com/in/shafkath/"><img id="shafkat_linkedin" src="./images/icon_linkedin.png" onmouseover="hover( 'shafkat_linkedin','./images/icon_linkedin_hover.png' )" onmouseout="hover( 'shafkat_linkedin','./images/icon_linkedin.png' )" ontouchend="hover( 'shafkat_aboutme','./images/icon_linkedin.png' )" /></a>-->
            <!--a href=""><img id="shafkat_twitter" src="./images/icon_twitter.png" onmouseover="hover( 'huzaifa_twitter','./images/icon_twitter_hover.png' )" onmouseout="hover( 'huzaifa_twitter','./images/icon_twitter.png' )" ontouchend="hover( 'huzaifa_aboutme','./images/icon_twitter.png' )"/></a-->
        </div>
        <div class="about_text">I Love Software. I Love to Code. I Love to Create. I am always thinking about the next big idea and how I could bring it to life today. My primary interests are mostly in Embedded Systems and Software. My other interests include UX/UI design, Entrepreneurship and Sushi. My professional goal in life is to create at least one thing that changes the world in some Awesome way.</div>
    </td>
</tr>