<tr>
<td>
    <%= image_tag "pic_SalmanTariq.png" %>
    <br/>
    <div class="titles">The Alpha</div>
</td>
<td>
    <div class="about_name">Salman Tariq Mirza</div>
    <div class="about_socials">
        <%= link_to (image_tag "icon_aboutme.png"), "http://salmantariq.com" %>
        <%= link_to (image_tag "icon_linkedin.png"), "http://ca.linkedin.com/pub/farhan-munshi/5b/911/89a/" %>
    </div>
    <div class="about_text">
        As a student of Computer Science at the University of Waterloo, I fell in love with web development. It was only a matter of time before my friends and colleagues diagnosed me with OCD - Obsessive Coding Disorder. I often forget to eat all day when coding. Rather, this passion of mine developed into my new means of sustenance. I constantly find myself striving to learn and accomplish more. I am a huge fan of minimalism in web design and seem to have fallen in love with Ruby on Rails. When im not coding, I tend to enjoy watching Game of Thrones or read The Wheel of Time. 
    </div>
</td>
</tr>