<div class="back_graph_container">
	<table class="back_graph_table" style="border-collapse: collapse" cellspacing="0" data-intro="<p><strong>Salah history:</strong><br/> This table visually displays each Salah you prayed in the past 15 days. It also shows a graph of your daily Salah count. Reduce the number of gaps in your dot table and improve your daily Salah count to improve your overall average</p>" data-step="3" data-position="top">
		<tbody>
			<tr >
				<% (1..15).each do |f| %>
					<td class="back_top_td"></td>
				<% end %>
			</tr>
			<% (1..5).each do |i| %>
				<tr>
					<% (1..15).each do |f| %>
						<td><center><div class="empty_dot"></div></center></td>
					<% end %>
				</tr>
			<% end %>
			<tr class="back_bottom_row">
				<% (1..15).each do |f| %>
					<td class="back_bottom_td"></td>
				<% end %>
			</tr>
		</tbody>
	</table>
</div>