<div id="dashBanner" class="dashBanner">
    <table id="dashBanner_table" class="dashBanner_table">
        <tbody>
	        <tr>
	            <td><%= image_tag "logo_header.png" %></td>
	        </tr>
    	</tbody>
    </table>
</div>