<div id="footer">
	<span>For the self-directed, motivated Muslim.</span>
	<div class="footer_button" id="about"><%= link_to "About", about_path %></div>
	<div class="footer_button" id="contact"><p>info@katibean.com</p></div>
    <!--<div class="footer_button" id="contact"><p>Contact Us<p></div>-->
</div>