<div class="main_chart">
<table class="main_chart_table">
    <tbody>
        <!--
    	<tr class="totals_row">
    		<% @mainWidgetData.each do |data| %>
    			<td><p class="offered_count"><%= data[0][0] %></p></td>
    		<% end %>
    	</tr>
        -->
        <% (1..5).each do |i| %>
            <tr class="prayer_row">
                <% @mainWidgetData.each do |data| %>
                    <td><center><div class="prayer_dot <%= data[i][1] %> <%= "display_#{data[i][0]}" %>"></div></center></td>
                <% end %>
            </tr>                 
        <% end %>
    </tbody>
</table>
</div>
    