<!--

<svg height="60px" width="380px">
                <path fill="#606060" fill-opacity="0.1" stroke-width="0" stroke="none" d="M0 60 L0 50 L100 20 L160 50 L230 20 L300 20 L360 50 L420 20 L450 20 L450 60Z"/>
            </svg>
            <div id="main_chart">
                <table style="display: none;" id="table_1">
                    <tbody><tr>
                        <td></td>
                        <td><div class="circle size_20px fajr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px fajr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px fajr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px fajr main_chart_adjustment"></div></td>
                    </tr>
                    <tr>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                    </tr>
                    <tr>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><div class="circle size_20px maghrib main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px maghrib main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px maghrib main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px maghrib main_chart_adjustment"></div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><div class="circle size_20px isha main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px isha main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px isha main_chart_adjustment"></div></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody></table>
                <table style="display: visible;" id="table_2">
                    <tbody><tr>
                        <td></td>
                        <td><div class="circle size_20px fajr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px fajr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px fajr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px fajr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px fajr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px fajr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px fajr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px fajr main_chart_adjustment"></div></td>
                    </tr>
                    <tr>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px duhr main_chart_adjustment"></div></td>
                    </tr>
                    <tr>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px asr main_chart_adjustment"></div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><div class="circle size_20px maghrib main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px maghrib main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px maghrib main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px maghrib main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px maghrib main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px maghrib main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px maghrib main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px maghrib main_chart_adjustment"></div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><div class="circle size_20px isha main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px isha main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px isha main_chart_adjustment"></div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle size_20px isha main_chart_adjustment"></div></td>
                        <td><div class="circle size_20px isha main_chart_adjustment"></div></td>
                        <td></td>
                        <td><div class="circle size_20px isha main_chart_adjustment"></div></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody></table>
                <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a href="#" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 100%;"></a></div>
            </div>

-->