<div id="performance_summary">
	<p id="performance_summary_line1" style="<%= "display:none" if @improvement < 0 %>">Masha Allah!</p>
    <p id="performance_summary_line2">Your Salah <%= @improvement_prefix %> by <%= @improvement.abs %>% in the past 15 days</p>
</div>