<div id="info">
	<table id="info_table" >
		<tr>
			<td class="info_bullet"><%= image_tag "bullet_1.png" %></td>
			<td class="info_text">Katibean will ask you this same question everyday at <strong>10pm</strong>.</td>
			<td class="info_bullet"><%= image_tag "bullet_2.png" %></td>
			<td class="info_text">In your email click all the prayers you prayed that day.</td>
		</tr>
		<tr>
			<td class="info_bullet"><%= image_tag "bullet_3.png" %></td>
			<td class="info_text">View details about your prayer habits.</td>
			<td class="info_bullet"><%= image_tag "bullet_4.png" %></td>
			<td class="info_text">Find ways to <strong>actually</strong> improve.</td>
		</tr>
	</table>
</div>
