<h1>Salah Check</h1>
<div class="email_send_instructions step2_instructions">
	<div class="ins_wrapper">
		<div class="step_number email_ins step2_num">2</div>
		<div class="instruction email_ins step2_ins"> In your email <strong>check all the prayers you prayed</strong> that day. </div>
	</div>
</div>
<p class="click_email_instruction">Click the email icon below</p>
<%= image_tag "Welcome_10.png" %>