<h1>Dashboard</h1>
<div class="email_send_instructions step3_instructions">
	<div class="ins_wrapper">
		<div class="step_number email_ins step3_num">3</div>
		<div class="instruction email_ins step3_ins">We will work the magic and create <strong>beautiful illustrations of your salah</strong> history. </div>
	</div>
</div>

<p class="before_dash"><strong>But before we go to your Dash,</strong><br/>
<span class="dash_req">we need one more day's data to make it work</span>
</p>


<form data-remote="true" action= method="post" >

	<div style = "width: 50%; margin: auto; padding-left: 5%;">
	<div class="holder">
		<div class="fajr" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="fajr2" name="fajr2" /><label for="fajr2"></label></div>
	</div> .
	<div class="holder">
		<div class="zuhr"style = "background: #cdcdcd;"><input type="checkbox" value="2" id="zuhr2" name="zuhr2" /><label for="zuhr2"></label></div>
	</div>
	<div class="holder">
		<div class="asr" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="asr2" name="asr2" /><label for="asr2"></label></div>
	</div>
	<div class="holder">
		<div class="mag" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="maghrib2" name="maghrib2" /><label for="maghrib2"></label></div>
	</div>
	<div class="holder">
		<div class="isha" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="isha2" name="isha2" /><label for="isha2"></label></div>
	</div>
</div>


<input name="prayer_day_id" type="hidden" value= <%=@prayer_day_id_prev%> >
<input name="url" type="hidden" value= <%=@url%> >
<input type="submit" style = "border: 0;" value = "Submit and go to Dash" class="next_step go_to_dash"/>
</form>

