<h1>Dashboard</h1>
<div class="email_send_instructions step3_instructions">
	<div class="ins_wrapper">
		<div class="step_number email_ins step3_num">3</div>
		<div class="instruction email_ins step3_ins">We will work the magic and create <strong>beautiful illustrations of your salah</strong> history. </div>
	</div>
</div>

<p class="before_dash"><strong>But before we go to your Dash,</strong><br/>
<span class="dash_req">we need one more day's data to make it work</span>
</p>

<form data-remote="true" action= method="post" >

	<table class="last_form">
		<tbody>
			<tr>
				<td>
					<div class="fajr" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="fajr" name="fajr" /><label for="fajr"></label></div>
				</td> 
				<td >
					<div class="zuhr"style = "background: #cdcdcd;"><input type="checkbox" value="2" id="zuhr" name="zuhr" /><label for="zuhr"></label></div>
				</td>
				<td>
					<div class="asr" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="asr" name="asr" /><label for="asr"></label></div>
				</td>
				<td>
					<div class="mag" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="maghrib" name="maghrib" /><label for="maghrib"></label></div>
				</td>
				<td>
					<div class="isha" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="isha" name="isha" /><label for="isha"></label></div>
				</td>
			</tr>
		</tbody>
	</table>	

<input name="prayer_day_id" type="hidden" value= <%=@prayer_day_id%> >
<input name="url" type="hidden" value= <%=@url%> >
<input type="submit" style = "border: 0;" value = "Submit and go to Dash" class="next_step go_to_dash"/>
</form>

