<h1>Dashboard</h1>
<div class="email_send_instructions step3_instructions">
	<div class="ins_wrapper">
		<div class="step_number email_ins step3_num">3</div>
		<div class="instruction email_ins step3_ins">We will work the magic and create <strong>beautiful illustrations of your salah</strong> history. </div>
	</div>
</div>
<div class="dash_instruction">
	<div class="final_ins dash_ins">
	<%=  image_tag "Welcome_07.png" %>
	</div>
	
	<div class="final_ins main_ins">
		<p>Use the graphs in your dashboard to understand your salah patterns.</p>
		<p>This way your can know where and how you can improve your overall average.</p>
		<br/>
		<p class="unique">Your unique dashboard url is</p>

		<p class="unique url_display">katibeen.com/<%= @url %></p>
		<br/>
		<p><span>Remember:</span> Your dash will only show your data on the <strong>3rd day of usage.</strong> Make sure you have a good average to begin with.</p>
	</div>
</div>
<div class ="step3_complete next_step">
	<%= link_to "Finish Intro and Go to Dash" , performance_path(@url) %>
</div>
