<h1>Email</h1>
<div class="email_send_instructions step1_instructions">
	<div class="ins_wrapper">
		<div class="step_number email_ins step1_num">1</div>
		<div class="instruction email_ins step1_ins"> Katibean will send you an email around <strong>10pm.</strong></div>
	</div>
</div>
<%= image_tag "step1.png", :class => "step1_email_img" %>
<div class="step1_complete next_step">Step2</div>