<h1>Assalamu Alaikum!</h1>
<p>Thanks a lot for joining Katibeen</p>

<p>It is said, on the day of judgement the first question everyone will be asked about is their salah. If a person is able to answer this question well, then all else will go well. And this fails, then so will every thing else.</p>
<div class="katibean_aim">At Katibean, we want to prepare you for just that.</div>
<p>Katibean has <strong>3 simple steps</strong>, lets go through them all.</p>
<div class="start_complete next_step" onClick="">Step1</div>
<script type="text/javascript">
	$(".start_complete").on("click", function() {
		$(".slider_wrapper").animate({right: "890"}, 1000);
	});
</script>