

<div id="welcomeModal" class="welcomeModal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-header">
	  <h3 style = "font-size: 2em;" id="modal-title">Salah Check</h3>
	</div>

<% post_url = root_url() + 'katibeen/submitDayData' %>

  <div class="modal-body">
<form id="welcomeForm" data-remote="true" action= <%= post_url %> method="post" >

<center>
<em style="width:100%;margin:auto;color:#2ba5ae;font-size:1em;text-align:center;font-weight: bold;">"The thing that Allah (SWT) loves most <br/> is when his people pray Salah on time."</em>
</center>

<h3 style = "text-align: center; font-weight: normal; font-style: italic; color: #999;"> Select the ones you prayed <%= @modul_title %></h3>

<div style = "width: 50%; margin: auto; padding-left: 5%;">
	<div class="holder">
		<div class="fajr" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="fajr" name="fajr" />
		<label class = "labelPadding" for="fajr">Fajr</label></div>
	</div>
	<div class="holder">
		<div class="zuhr"style = "background: #cdcdcd;"><input type="checkbox" value="2" id="zuhr" name="zuhr" />
		<label class = "labelPadding" for="zuhr">Duhr</label></div>
	</div>
	<div class="holder">
		<div class="asr" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="asr" name="asr" />
		<label class = "labelPadding" for="asr">Asr</label></div>
	</div>
	<div class="holder">
		<div class="mag" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="maghrib" name="maghrib" />
		<label class = "labelPadding" for="maghrib">Maghrib</label></div>
	</div>
	<div class="holder">
<div class="isha" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="isha" name="isha" /><label class = "labelPadding" for="isha">Isha</label></div>
	</div>
</div>

<input name="prayer_day_id" type="hidden" value= <%=@prayer_day_id_prev%> >
<input name="url" type="hidden" value= <%=@url%> >
<input name="welcome" type="hidden" value="true">
  </div>
  <br>
  <br>
  	<div style = "margin-top: 5px; padding-top: 0px;" class = "pull-left;">

			<input type="submit" style = "border: 0;" value = "Submit" class=" next_step first_submit"/>

		</div>
		<br>
		<br>
	</form>
  <div class="modal-footer">
  &nbsp;
  </div>
</div>
</div>
<script type="text/javascript">
	$(".first_submit").on("click", function() {

		$(".slider_wrapper").delay(1500).animate({right: "2670"}, 1000);
	});

	$("#welcomeForm").bind("ajax:success", function() {
		$("#welcomeModal").modal('hide');
	});
</script>

