<%= render "dash_banner" %>
<center>
<div class="temp_mock">
	
</div>
<div class = "tempText">
	<h3 style = "display: inline;"> Your dash will be available in: </h3>
	<h3 class = "daysLeft" >0<%= @days_left %></h3>
	<h3 style = "font-size: 2em; display: inline;"> Days </h3>
</div>
</center>
<%= render "footer" %>