<%= render "dash_banner" %>
<center>
	<div class="welcome_slider">
		<div class="slider_wrapper">
			<div class="welcome step1"></div>
			<div class="welcome step2"></div>
			<div class="welcome step3"></div>
			<div class="welcome step4"></div>
		</div>
	</div>
</center>
<%= render "footer" %>