body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	}

#mainBanner {
	background-color: #FD5737;
	width: 100%;
	height: 175px;
	}
	#mainBanner_table {
		height:100%;
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;
		}
		#mainBanner_table td {
			vertical-align: middle;
			text-align: center;
			}

#email {
	position:relative;
    width: 413px;
    height: 70px;
    margin-top: -2%;
    border-radius: 12px;
    background-color: #FD5737;
	}
	#email_input {
		font-size: 1.7em;
		text-align: center;
		width: 379px;
		height: 50px;
		border-radius: 12px;
		font-style: bold;
		border-collapse: collapse;
		}
	#add_email {
		background-color: #FD5737;
		width: 100px;
		height: 35px;
    	margin-top: 3%;
    	border: none;
    	color: #FFFFFF;
		font-size: 1.5em;
		margin-top: 0%; /*Remove this to get old big button */	
    	border-bottom-left-radius: 12px;
    	border-bottom-right-radius: 12px;
		}
		#add_email p {
			display: inline-block;
			margin-top: 0%;
		}
		#add_email:active{
			background-color: #FD421E;
		}

#hadith {
	color: #2BA5AE;
	font-size: 1.75em;
	text-align: center;
	position: relative;
	margin-top: 5%;
    left: 25%;
    right: 25%;
	width: 50%;
	}
	#hadith img {
		vertical-align: middle;
		}


#info {
	position:relative;
	margin-left: 15%;
	margin-top: 2.5%;
	margin-bottom: 7%;
	width: 70%;
	height: 200px;
	}
	#info_table {
		height:100%;
		margin: 0;
		padding: 0;
		border: 0;
		}
		.info_bullet {
			width: 5%;
			text-align: center;
			}
		.info_text {
			width: 15%;
			text-align: left;
			font-size: 1.5em;
			}

#footer {
	background-color: #18221E;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	font-size: 1em;
	color: #FFFFFF;
	}
	#footer span {
		position: absolute;
		left: 2.5%;
		top: 30%; 
		}
	.footer_button:active {
		border-radius: 7.5px;
		background-color: #23312b;
		}
	#about {
		position: absolute;
		width: 100px;
		height: 25px;
		top: 32%;
		right: 0;
		margin-right: 10%;
		}
		
		#about a{
			color:#FFFFFF;
			text-decoration:none;
		}
	#contact {
		position: absolute;
		width: 125px;
		height: 25px;
		top: 25%;
		right: 0;
		margin-right: 2.5%;
		}
		