.dashBanner {
    background-color: #009FE6;
    height: 75px;
    width: 100%;
}

.dashBanner_table {
    border: 0 none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dashBanner_table td {
    padding-left: 5%;
    vertical-align: middle;
}