.dashBanner {
    background-color: #009FE6;
    height: 75px;
    width: 100%;
}

.dashBanner_table {
    border: 0 none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dashBanner_table td {
    padding-left: 5%;
    vertical-align: middle;
}

.unique_msg_welcome, .unique_url_welcome {
    font-size: 1.25em;
    font-weight:bold;
}

.unique_url_welcome {
    color: #009fe6;
    font-size:1.5em;
}

.view_dash_welcome {
    padding-right: 10px;
    padding-left: 10px;
}