.line_graph {
	padding-top: 2%;
	padding-bottom: 2%;
}

.line_average {
	width: 76px;
	vertical-align: top;
	text-align: center;
}
.line_average p {
	height:15px;
	font-size: 1em;
	font-weight: 200;
	margin:0px;
}

p.avg {
	font-size: 2em;
	height: 30px;
	font-weight: bold;
}