.prayer_row {
	padding-top: 2%
}

.main_chart {
	text-align: left;
	width: 950px;
	padding-bottom: 2%;
}

.main_chart table {
	max-width: 900px;
	overflow:scroll;
}

.prayer_dot {
 	width: 20px;
 	height: 20px;
 	border-radius: 50% 50% 50% 50%;
 	margin-top: 5px;
 	margin-right: 25px;
}
.prev_average, .current_average {
	color: black;
	font-size: 2em;
	font-weight: bold;
	vertical-align: top;
}

.current_average {
	padding-left: 15%;
}

.main_chart_table {
	background-color: #EEEEEE;
	padding-left: 25px;
	padding-bottom: 10px;
	position: relative;
	top: -5%;
}


.offered_count{
	text-align: center;
	width:20px;
	height:20px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 25px;
}
