.prayer_row {
	padding-top: 2%
}

.main_chart {
	width: 950px;
	padding-top: 2%;
	padding-bottom: 2%;
}

.main_chart table {
	max-width: 900px;
	overflow:scroll;
}

.prayer_dot {
 	width: 20px;
 	height: 20px;
 	border-radius: 50% 50% 50% 50%;
 	margin-top: 5px;
 	margin-right: 25px;
}
.prev_average, .current_average {
	color: black;
	font-size: 2em;
	font-weight: bold;
	vertical-align: top;
}

.current_average {
	padding-left: 15%;
}

.main_chart_table {
	text-align:left !important;
}