.welcome_slider {
	width: 900px;
	height: 540px;
	overflow-x:scroll;
	overflow-y:hidden;
}

.slider_wrapper {
	width:3600px;
	height: 98%;
	position:relative;
}

.welcome {
	width: 890px;
	height: 100%;
	display:table-row;
	float:left;
}

h1 {
	color: #FD5737;
	font-size: 3.5em;
	margin-top: 35px;
}

.welcome p {
	font-size: 1.25em;
}

div .katibean_aim {
	width: 60%;
	height: 40px;
	background-color: #676767;
	font-size: 1.5em;
	color: white;
	line-height: 35px;
	font-style: italic;
}

.next_step {
	height: 50px;
	width: 135px;
	background-color: #009FE6;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 45px;
}

.start_complete {
	margin-top: 50px;
}

.step1_complete {
	margin-top: 25px;
}

.email_send_instructions {
	height: 40px;
}

.step1_instructions{
	width: 50%;
}

.step2_instructions {
	width: 58%;
}

.step3_instructions {
	width: 76%;
}

.ins_wrapper {
	width: 110%;
	height: 100%;
	overflow: hidden;
}

.email_ins {
	float:left;
	font-size: 1.2em;
	line-height: 37px;
}

.step_number {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #676767;
	margin-right: 25px;
	color:white;
	font-weight: bold;
}

.step1_num{
	margin-right: 25px;
}

.step2_num {
	
}


.step1_email_img {
	margin-left: 30px;
}

.click_email_instruction {
	color: #FD5737;
	font-weight: bold;
	font-size: 1em;
}

.dash_instruction {
	width:100%;
	height: 500px;
	margin-top: 20px;
}

.final_ins {
	float:left;
}

.main_ins {
	height: 500px;
	width: 350px;
	margin-left: 30px;
	text-align: left;
}

.main_ins span {
	color: #FD5737;
	font-weight: bold;
}

.unique {
	text-align: center;
}

.url_display {
	color: #009FE6;
	font-weight: bold;
	font-size: 1.75em;
}